body {
	background-color:#2f2f2f;
}

#doss {
	width: 15%;
	padding:1em;
}

#fich {
	width: 15%;
	padding:1em;
}

a {
	text-decoration:none;
	color:white;
}

a:hover {
	text-decoration:none;
	color:#00d2ff;
}

a:active {
	text-decoration:none;
	color:#00d2ff;
}


